@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,700;0,800;1,700;1,800&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
   overflow-x: hidden;
}

/* NAVEGADOR */

.main_c{
    color:#635339;
}

.main_c:hover{
    color:#F05010;
    text-decoration-color: #635339;
}

.navformat{
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #F05010;
}

/* CARROUSEL */

.carrousel{
    background-image: url(/img/carrousel.jpg);
    background-size: cover;
    overflow: hidden;
    padding-left: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.texto_car_1{

    font-size: 4em;
    font-family: 'roboto';
    font-weight: 800;
    color:#fff;
}


/* HERO 1 */

.texto_subtitulo{
    color:#F05010;
    font-size: small;
}

.texto_titulo{
    color:#635339;
    font-weight: 600;
    font-size:x-large;
    font-family: 'roboto';
}

.texto_parrafo{
    color:#635339;
    font-size: medium;
}

.item_c_main{
    background-color:#F05010;
    border-color: #F05010;
}

.item_c_main:hover{
    background-color: #635339;
    border-color:#635339;
}


/* CLIENTES */

.clientes_p{
    color:#808080;
    font-size: x-large;
    font-family: 'roboto';
    font-weight:900;    
}

.logos_c img{
    margin-left:3em;
    margin-top:2em;
}

/* RUBROS */

.titulo_rub{
    display:flex;
    justify-content: center;
    color:#F05010;
    font-size: xx-large;
    font-weight: 800;
    font-family: 'roboto';
    text-align: center;   
}

.subtitulo_rub{
    text-align: center;
    font-size: xx-large;
    font-family: 'roboto';
    font-weight: 700;
    color:#635339;
}

.texto_rub{
    text-align: center;
    color:#30281b;
    font-size: medium;
}

.rubro img{

}


/* RUBROS */

.subtitulo_insta{
    text-align: center;
    color:#F05010;
}

.insta{
    
    margin-left:1em;
    margin-right: 1em;
}


/* FOOTER */

.logo_footer{
    margin-top: 2em;
    color:#30281b;
    height: 2em;
}


.footer_text_a{
    text-decoration: none;
    color:#635339;
}

.footer_text_a:hover{
    color:#F05010;
}

.footer_text_a:active{
    color:#F05010;
}


.footer_centro{
    margin-top: 10em;
    justify-content: center;
    text-align: center;
}


.footer_text_b{
    text-decoration: none;
    color:#F05010;
}

.footer_text_c{
    font-size:small;
}

.footer_derecha{
    margin-top: 2em;
}

.icono_vargas{
    color:#30281b;
}


/* ABOUT */

.about_car{
    color:#fff;
    font-size: large;
}

.carrousel_about{
    background-image: url(/img/bannerabout.png);
    background-size: cover;
    overflow: hidden;
    padding-left: 60px;
    padding-top: 80px;
    padding-bottom: 80px;
}


.pepito{
    display:flex;
}
.titulo_nar{
    color:#F05010;
    text-align: center;
    font-weight:500;
    font-size: x-large;
    font-family: 'roboto';
}

.subtitulo_about{
    color:#30281b;
    text-align: center;
}

.titulo_paso{
    font-family: 'roboto';
    font-size: xx-large;
    text-align: center;
    font-weight: 700;
    color:#635339;
    margin-top:1em;
}

.desc_paso{
    text-align: center;
    font-size: small;
    color:#635339;
}

.texto_imagen_about{
    background-image: url(/img/20.png);
    background-size: cover;
    display:flex;
    color:rgba(255,255,255,0.6);
    justify-content: center;
    font-size: 6em;
    font-family: 'roboto';
    font-weight: 800;
    
    padding-top: 0.5em;
    padding-bottom: 0.5em;   
}

.borde_naranja{
    border-bottom: #F05010;
}

.titulo_rubro_card{
    font-family: 'roboto';
    color:#635339;
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
}

.pasos_pc{

}


.pasos_mobile{
    display:none;
}


/* PREGUNTAS FRECUENTES */ 

.banner_faq{
    background-image: url(/img/faqbanner.png);
    background-size: cover;
    color:#fff;
    text-align: center;
    background-repeat: no-repeat;
    font-family: 'roboto';
    font-size: 2em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.texto_faq{
    font-size: large;
    font-weight: 500;
}

.ajuste_content{
    justify-content:initial;
}



@media(max-width:768px){
    .logo_sup{
      display:flex;
      justify-content: center;
      align-items: center;
    }

    .carrousel{
    background-image: url(/img/carrousel.jpg);
    background-size: cover;
    overflow: hidden;
    padding-left:0;
    padding-top: 50px;
    padding-bottom: 50px;
    }

    .texto_car_1{
    display:flex;
    font-size: 2em;
    font-family: 'roboto';
    font-weight: 800;
    color:#fff;
    padding-left:5px;
    padding-right:5px;
    justify-content: center;
    text-align: center;
    }
    .boton_carru{
        display:none;
    }

    .img_hero{
        display:none;
    }
    .titulo_rub{
        color:#F05010;
        font-size: x-large;
        font-weight: 800;
        font-family: 'roboto';
        text-align: center;   
    }
    .texto_rub{
        text-align: center;
        color:#30281b;
        font-size:medium;
    }
    .ajuste_content{
        justify-content:center;
    }
    .insta_2{
        display:none;
        margin-left:1em;
        margin-right: 1em;
    }

    .carrousel_about{
        background-image: url(/img/bannerabout.png);
        background-size: cover;
        overflow: hidden;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .texto_car_1{
        display:flex;
        font-size: 3em;
        font-family: 'roboto';
        font-weight: 800;
        color:#fff;
        justify-content:center;
    }
    .about_car{
        display:none;
        color:#fff;
        font-size: large;
    }
    .texto_imagen_about{
        font-size: 3em;
        padding-top: 0em;
        padding-bottom: 0em;   
    }
    .clientes_p{
        display:flex;
        justify-content: center;
        color:#808080;
        font-size: large;
        font-family: 'roboto';
        font-weight:900;    
        text-align: center;
    }
    .pasos_pc{
        display:none;
    }
    
    .img-hero{
        display:none;
    }
    .pasos_mobile{
        display:initial;
    }
    .logos_c img{
        margin-left:0em;
        margin-top:0em;
    }
    .logo_footer{
        margin-top: 0em;
        color:#30281b;
        height: 0em;
    }

    #footer_izquierda{
        color:#fff;
    }

    #footer_derecha{
        color:#fff;
    }
    .footer_centro{
        display:none;
        margin-top: 0em;
        align-items: center;
        justify-content: initial;
        text-align: center;
    }
}