@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;800&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding:0;
 }

.fuente{
    font-family: 'Montserrat', sans-serif;
}


/* NAVEGADOR */

.main_c{
    color:#635339;
}

.main_c:hover{
    color:#400101;
    text-decoration-color: #635339;
}

.navformat{
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #400101;
}

/* CARROUSEL */

.carrousel{
    background-image: url(/img/carrousel.jpg);
    background-size: cover;
    overflow: hidden;
    padding-left: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.texto_car_1{

    font-size:3.5em;
    font-weight: 800;
    color:#fff;
}


/* HERO 1 */

.texto_subtitulo{
    color:#400101;
    font-size: small;
}

.texto_titulo{
    color:#635339;
    font-weight: 600;
    font-size:x-large;
}

.texto_parrafo{
    color:#635339;
    font-size: medium;
}

.item_c_main{
    background-color:#400101;
    border-color: #400101;
}

.item_c_main:hover{
    background-color: #635339;
    border-color:#635339;
}

.marron{
    color:#30281b;
}


/* CLIENTES */

.clientes_p{
    color:#808080;
    font-size: x-large;
    font-weight:900;    
}

.logos_c img{
    margin-left:3em;
    margin-top:2em;
}

/* RUBROS */

.titulo_rub{
    display:flex;
    justify-content: center;
    color:#400101;
    font-size: xx-large;
    font-weight: 800;
    text-align: center;   
}

.subtitulo_rub{
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    color:#635339;
}

.texto_rub{
    text-align: center;
    color:#30281b;
    font-size: medium;
}

.rubro img{
    
    display:block;
    width:100px;
    border-color:red; 
    padding:5px;
    margin:10px;
}




/* RUBROS */

.subtitulo_insta{
    text-align: center;
    color:#400101;
}

.insta{
    
    margin-left:1em;
    margin-right: 1em;
}

#more {display: none;}

/* FOOTER */

.texto_alternado{
    color:#30281b;
}


.texto_alternado:hover{
    color:#30281b;
}

.logo_footer{
    margin-top: 2em;
    color:#30281b;
    height: 2em;
}


.footer_text_a{
    text-decoration: none;
    color:#635339;
}

.footer_text_a:hover{
    color:#400101;
}

.footer_text_a:active{
    color:#400101;
}


.footer_centro{
    margin-top: 10em;
    justify-content: center;
    text-align: center;
}


.footer_text_b{
    text-decoration: none;
    color:#400101;
}

.footer_text_c{
    font-size:small;
}

.footer_derecha{
    margin-top: 2em;
}

.icono_vargas{
    color:#30281b;
}


/* ABOUT */

.about_car{
    color:#fff;
    font-size: large;
}

.carrousel_about{
    background-image: url(/img/bannerabout.jpg);
    background-size: cover;
    overflow: hidden;
    padding-left: 60px;
    padding-top: 80px;
    padding-bottom: 80px;
}


.pepito{
    display:flex;
}
.titulo_nar{
    color:#400101;
    text-align: center;
    font-weight:500;
    font-size: x-large;
    font-family: 'Montserrat';
}

.subtitulo_about{
    color:#30281b;
    text-align: center;
}

.titulo_paso{
    font-family: 'Montserrat';
    font-size: xx-large;
    text-align: center;
    font-weight: 700;
    color:#635339;
    margin-top:1em;
}

.desc_paso{
    text-align: center;
    font-size: small;
    color:#635339;
}

.texto_imagen_about{
    background-image: url(/img/20.jpg);
    background-size: cover;
    display:flex;
    color:rgba(255,255,255,0.6);
    justify-content: center;
    font-size: 6em;
    font-family: 'Montserrat';
    font-weight: 800;
    
    padding-top: 0.5em;
    padding-bottom: 0.5em;   
}

.borde_naranja{
    border-bottom: #400101;
}

.titulo_rubro_card{
    font-family: 'Montserrat';
    color:#635339;
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
}




.pasos_mobile{
    display:none;
}


/* PREGUNTAS FRECUENTES */ 

.banner_faq{
    background-image: url(/img/faqbanner.jpg);
    background-size: cover;
    color:#fff;
    text-align: center;
    background-repeat: no-repeat;
    font-family: 'Montserrat';
    font-size: 2em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.texto_faq{
    font-size: large;
    font-weight: 500;
}

.ajuste_content{
    justify-content:initial;
}


/* CATEGORIAS */
.banners{
    background-size: cover;
    overflow: hidden;
    padding-left: 60px;
    padding-right:60px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.banner_g {
    background-image: url(/img/gastrobanner.jpg);
}



.texto_banner_g{
    font-size: 4em;
    font-family: 'Montserrat';
    font-weight: 800;
    color:#fff;
    text-decoration: none;
}

.texto_banner_g:hover{
    color:#400101;
    text-decoration: none;
}


.banner_h {
    background-image: url(/img/hotelbanner.jpg);
}

.banner_p{
    background-image: url(/img/packagingbanner.jpg);
}

.banner_re{
    background-image: url(/img/regalobanner.jpg);
}

.texto_banner_h{
    font-size: 4em;
    font-family: 'Montserrat';
    font-weight: 800;
    color:#fff;
    text-decoration: none;
    text-align: right;
}

.texto_banner_h:hover{
    color:#400101;
    text-decoration: none;
}

.banner_r {
    background-image: url(/img/regalosbanner.jpg);
}

.texto_banner_r{
    font-size: 4em;
    font-family: 'Montserrat';
    font-weight: 800;
    color:#fff;
    text-decoration: none;
}

.texto_banner_r:hover{
    color:#400101;
    text-decoration: none;
}

.banner_m {
    background-image: url(/img/merchbanner.jpg);
}

.texto_banner_m{
    font-size: 4em;
    font-family: 'Montserrat';
    font-weight: 800;
    color:#fff;
    text-decoration: none;
    text-align: right;
}

.texto_banner_m:hover{
    color:#400101;
    text-decoration: none;
}


/* GASTRONOMIA */

.texto_banner_g_main{
    background-size: cover;
    overflow: hidden;
    padding-left: 60px;
    padding-right:60px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 3em;
    font-family: 'Montserrat';
    font-weight: 800;
    color:#fff;
    text-decoration: none;
    text-align: center;
}

.texto_tit_card{
    display:flex;
    justify-content: center;
    color:#635339;
    font-weight: 600;
    font-size:x-large;
    font-family: 'Montserrat';
}




@media(max-width:768px){

    .texto_banner_g_main{
        font-size: 2em;
        text-align: center;
        text-indent: center;
    }

    .logo_sup{
      display:flex;
      justify-content: center;
      align-items: center;
    }

    .carrousel{
    background-image: url(/img/carrousel.jpg);
    background-size: cover;
    overflow: hidden;
    padding-left:0;
    padding-top: 50px;
    padding-bottom: 50px;
    }

    .texto_car_1{
    font-size: xx-large;
    padding-left:2px;
    padding-right:2px;
    text-align: center;
    }


    .boton_carru{
        display:none;
    }

    .img_hero{
        display:none;
    }
    .titulo_rub{
        color:#400101;
        font-size: x-large;
        font-weight: 800;
        font-family: 'Montserrat';
        text-align: center;   
    }
    .texto_rub{
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
        color:#30281b;
        font-size:medium;
    }
    .ajuste_content{
        justify-content:center;
    }
    .insta_2{
        display:none;
        margin-left:1em;
        margin-right: 1em;
    }

    .carrousel_about{
        background-image: url(/img/bannerabout.jpg);
        background-size: cover;
        overflow: hidden;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .about_car{
        display:none;
        color:#fff;
        font-size: large;
    }
    .texto_imagen_about{
        font-size: 3em;
        padding-top: 0em;
        padding-bottom: 0em;   
    }
    .clientes_p{
        display:flex;
        justify-content: center;
        color:#808080;
        font-size: large;
        font-family: 'Montserrat';
        font-weight:900;    
        text-align: center;
    }
    .pasos_pc{
        display:none;
    }
    
    .img-hero{
        display:none;
    }
    .pasos_mobile{
        display:initial;
    }
    .logos_c img{
        opacity:0.5;
        margin-left:0em;
        margin-top:0em;
        transition: transform .5s ease;
        
    }

    .logos_c img:hover{
        opacity:1;
    }

    .logo_footer{
        margin-top: 0em;
        color:#30281b;
        height: 0em;
    }

    #footer_izquierda{
        color:#fff;
    }

    #footer_derecha{
        color:#fff;
    }
    .footer_centro{
        display:none;
        margin-top: 0em;
        align-items: center;
        justify-content: initial;
        text-align: center;
    }

    .hidden{
        display:none;
    }

    .subtitulo_rub{
        font-size: x-large;
        margin-top:3px;
        padding-left:1em;
        padding-right:1em;
    }

    

    .subtitulo_insta{
        padding-left:2em;
        padding-right:2em;
        text-align: center;
    }
    
   
}